body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.topNav{
    overflow: hidden;
    background-color: #E0E0E0;
}

.topNav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
    font-size: 17px;
}

.topNavRight {
    float: right;
}

.topNav a:hover {
    background-color: grey;
    color: black;
}

.topNav a.active {
    background-color: #FF6F61;
    color: white;
}

header img{
    width: 50%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    opacity: 1;
    border-radius: 16px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: black;
    text-align: justify;
}

 h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #FF6F61;
 }

 .text{
    padding-left: 2em;
    padding-right: 2em;
 }

 .imgTextOverlay{
    position: relative;
    text-align: center;
    color: #333;
    font-size: 40px;
 }

 .imgTextOverlay img{
    width: 100%;
 }

 .topCenter{
    position: absolute;
    top: 8px;
    left: 25%;
    right: 25%;
 }

 .imageOneWithTextOnSide{
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .imageOne{
   display: block;
    width: 300%;
    float: left;
    margin-top: 5%;
    border-radius: 16px;  /*border radius not showing*/
 }

 .textImageOne{
    font-size: 20px;
    margin-right: 30%;
    padding-top: 0;
    float: right;
 }

 .imageTwoWithTextOnSide{
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .imageTwo{
   display: block;
    width: 300%;
    float: left;
    margin-top: 5%;
    border-radius: 16px;  /*border radius not showing*/
 }

 .textImageTwo{
   font-size: 20px;
   margin-right: 30%;
   padding-top: 0;
   float: right;
}

 .block {
   display: block;
   width: 25%;
   border: none;
   background-color: #FF6F61;
   padding: 14px 28px;
   font-size: 16px;
   cursor: pointer;
   text-align: center;
   border-radius: 16px;
 }
 
 .footer{   
      overflow: hidden;
      background-color: #E0E0E0;
 }

 .footer a {
   float: left;
   color: black;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none; 
   font-size: 17px;
}

.footerLeft{
   float: left;
}

.footerRight{
   float: right;
   padding-right: 10px;
}

.footerLeft a:hover {
   background-color: grey;
   color: black;
}

.footerLeft a.active {
   background-color: grey;
   color: white;
}

